<form nz-form>
  <nz-form-item>
    <nz-form-label nzRequired [nzSpan]="5">序列号</nz-form-label>
    <nz-form-control [nzValidateStatus]="numberError" [nzSpan]="12" nzHasFeedback>
      <input type="text" nz-input placeholder="简要说明" [(ngModel)]="number" name="number">
      <nz-form-explain>填入序列号</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired [nzSpan]="5">验证码</nz-form-label>
    <nz-form-control [nzValidateStatus]="codeError" [nzSpan]="12" nzHasFeedback>
      <input type="text" nz-input placeholder="简要说明" [(ngModel)]="code" name="code">
      <nz-form-explain>填入验证码</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzSpan]="12" [nzOffset]="5">
      <button nz-button nzType="primary" (click)="recharge()">提交</button>
    </nz-form-control>
  </nz-form-item>
</form>