<div *ngIf="!core.isLogin; else elseBlock">
    <app-login></app-login>
</div>
<ng-template #elseBlock>
    <div class="container-fluid">
        <div class="row">
            <app-main-navigation></app-main-navigation>
        </div>
        <div class="row">

            <div class="col-sm-12 col-md-3 col-lg-2">
                <app-main-aside [index]="defaultAsideIndex"></app-main-aside>
            </div>

            <div class="col-sm-12 col-md-9 col-lg-10" style="box-sizing: border-box; overflow-y: auto;">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    
</ng-template>