/* You can add global styles to this file, and also import other style files */

.ray-row {
    padding: 5px 0;
}

.ray-nz-carousel {
    box-sizing: border-box; 
    height: 400px;
}

.ray-nz-carousel [nz-carousel-content] {
    text-align: center;
      height: 400px;
      line-height: 400px;
      color: #111111;
      overflow: hidden;
  }

  .container {
    padding: 10px;
}

.logo {
    color: #ffffff;
}

.ray-warning {
    color: #eb9316;
}