<div>
  <div nz-row nzGutter="8" class="ray-row">
    <div nz-col nzMd="6" nzSm="12">
      <nz-card nzHoverable  [nzCover]="coverTemplate">
        <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com"></nz-card-meta>
      </nz-card>
      <ng-template #coverTemplate>
        <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />
      </ng-template>
    </div>
    <div nz-col nzMd="6" nzSm="12">
        <nz-card nzHoverable  [nzCover]="coverTemplate">
          <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com"></nz-card-meta>
        </nz-card>
        <ng-template #coverTemplate>
          <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />
        </ng-template>
      </div>
      <div nz-col nzMd="6" nzSm="12">
          <nz-card nzHoverable  [nzCover]="coverTemplate">
            <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com"></nz-card-meta>
          </nz-card>
          <ng-template #coverTemplate>
            <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />
          </ng-template>
        </div>
        <div nz-col nzMd="6" nzSm="12">
            <nz-card nzHoverable  [nzCover]="coverTemplate">
              <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com"></nz-card-meta>
            </nz-card>
            <ng-template #coverTemplate>
              <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />
            </ng-template>
          </div>
  </div>
</div>