<div el-row class="ray-row">
  <el-menu [model]="index" (modelChange)="handle($event)" mode="horizontal">
    <el-menu-item index="1">规格列表</el-menu-item>
    <el-menu-item index="2">添加规格</el-menu-item>
  </el-menu>
</div>

<div el-container direction="vertical" *ngIf="index === '2'">
  <app-commodity-spec-add [spec]="editSpecification"></app-commodity-spec-add>
</div>
<div el-container direction="vertical" *ngIf="index === '1'">
  <app-commodity-spec-list  [commodityId]="commodityId"
    (checkEvent)="checkSpecListener($event)"
    (editEvent)="editSpecListener($event)"></app-commodity-spec-list>
</div>