<div class="ray-row">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item to="/dashboard">控制面板</el-breadcrumb-item>
      <el-breadcrumb-item to="/commodity/item/add">商品规格</el-breadcrumb-item>
    </el-breadcrumb>
  </div>
  
  <div el-row class="ray-row">
      <el-menu [model]="index" (modelChange)="handle($event)" mode="horizontal">
        <el-menu-item index="1">规格列表</el-menu-item>
        <el-menu-item index="2">添加规格</el-menu-item>
      </el-menu>
  </div>

<div el-container direction="vertical" *ngIf="index === '2'">
  <app-commodity-spec-add></app-commodity-spec-add>
</div>