<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" content="@{_csrf.token}"/>
    <meta name="_csrf_header" content="@{_csrf.headerName}"/>
    <title>Hello Spring Security</title>
    <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}" />
</head>
<body>
    <div th:substituteby="index::logout"></div>
    <h1>This is a secured page!</h1>
    <p><a href="/index" th:href="@{/index}">Back to home page</a></p>
</body>
</html>