<div el-row class="ray-row">
  <div el-col span="24">

    <el-table [model]="tableData" height="660px" center="header" >
      <el-table-column model-key="title" label="名称"></el-table-column>
      <el-table-column model-key="spec" label="规格"></el-table-column>
      <el-table-column model-key="price" label="价格" width="80"></el-table-column>
      <el-table-column model-key="inventory" label="库存" width="80"></el-table-column>
      <el-table-column label="操作" width="140">
        <ng-template #slot let-scope="scope">
          <el-button *ngIf="commodityId > 0" type="text" size="small" (click)="chose(tableData[scope.index])">选择</el-button>
          <el-button *ngIf="commodityId === 0" type="text" size="small" (click)="edit(tableData[scope.index])">修改</el-button>
          <el-button *ngIf="commodityId === 0" type="text" size="small" (click)="delete(tableData[scope.index])">删除</el-button>
        </ng-template>
      </el-table-column>
    </el-table>

  </div>
</div>

<div *ngIf="total > 0" class="container-fluid">
  <div class="row">
    <div class="sm-12 text-right">
      <app-pagination 
      [page]="page" 
      [pages]="total" 
      (pageIndexChangeEvent)="loadData($event)"></app-pagination>
    </div>
  </div>
</div>