<div class="ray-row">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item to="/dashboard">控制面板</el-breadcrumb-item>
      <el-breadcrumb-item to="/commodity/item/add">添加商品</el-breadcrumb-item>
    </el-breadcrumb>
</div>

<div el-row class="ray-row">
  <div el-col xs="24" md="16">
    <el-input [(model)]="commodity.title" placeholder="标题"></el-input>
  </div>
</div>

<div el-row class="ray-row">
  <div el-col xs="24" md="16">
    <el-input [model]="summary" placeholder="简要描述"></el-input>
  </div>
</div>

<div el-row class="ray-row">
  <div el-col xs="24" md="16">
    <el-input type="textarea" [autosize]="{ minRows: 2, maxRows: 4}" placeholder="注意事项，用于提示特殊情况,可以不填写" [model]="comment">
    </el-input>
  </div>
</div>

<div el-row class="ray-row">
  <div el-col xs="24" md="24">
    <el-input type="textarea" [autosize]="{ minRows: 6, maxRows: 8}" placeholder="内容" [model]="comment">
    </el-input>
  </div>
</div>

<div el-row class="ray-row">
  <div el-col xs="24" md="24">
    <el-button-group>
        <el-button (click)="addSpec($event)">添加规格</el-button>
        <el-button>添加导航/类别</el-button>
        <el-button>添加标签</el-button>
    </el-button-group>
    <el-button type="primary">保存商品</el-button>
  </div>
</div>

<el-dialog [(visible)]="showSpecDialog">
  <ng-template #title>
    <span>添加/选择规则</span>
  </ng-template>
  <app-commodity-spec></app-commodity-spec>
  <ng-template #footer>
    <el-button (click)="showSpecDialog = false">关闭</el-button>
  </ng-template>
</el-dialog>