<ul nz-menu [nzMode]="'inline'" style="height: 100%">
  <li nz-submenu>
    <span title><i class="fa fa-home fa-lg"></i>  首页订制</span>
    <ul>
      <li nz-menu-item (click)="goto('/home/carousel')">轮播图设置</li>
      <li nz-menu-item (click)="goto('/home/commodity')">商品设置</li>
      <li nz-menu-item (click)="goto('/home/article')">首页文章设置</li>
      <!--li nz-menu-item>页脚设置</li-->
      <!--li nz-menu-item>首页预览</li-->
    </ul>
  </li>
  <!--li nz-submenu>
    <span title><i class="fa fa-user fa-lg"></i> 账号管理</span>
    <ul>
      <li nz-menu-item>账号设置</li>
      <li nz-menu-item>权限设置</li>
    </ul>
  </li-->
  <li nz-submenu>
    <span title><i class="fa fa-shopping-cart fa-lg"></i> 商品管理</span>
    <ul>
      <li nz-menu-item (click)="goto('/commodity/index')">商品列表</li>
      <li nz-menu-item (click)="goto('/commodity/menu')">商品栏目</li>
      <li nz-menu-item (click)="goto('/commodity/spec')">规格列表</li>
    </ul>
  </li>
  <li nz-menu-item (click)="goto('/tag')"><i class="fa fa-tags fa-lg"></i> 标签管理</li>
  <li nz-submenu>
    <span title><i class="fa fa-book fa-lg"></i> 文章管理</span>
    <ul>
      <li nz-menu-item (click)="goto('/article/index')">文章列表</li>
      <li nz-menu-item (click)="goto('/article/menu')">文章栏目</li>
    </ul>
  </li>
  <!--li nz-submenu>
    <span title><i class="fa fa-credit-card fa-lg"></i> 支付设置</span>
    <ul>
      <li nz-menu-item (click)="goto('/commodity/index')">支付宝</li>
      <li nz-menu-item (click)="goto('/commodity/menu')">微信</li>
    </ul>
  </li-->
  <!--li nz-menu-item (click)="goto('/tag')"><i class="fa fa-cogs fa-lg"></i> 系统设置</li-->
</ul>

