<div style="margin:auto; background:#fff; padding: 24px; min-height: 280px; width: 960px;">

  <nz-carousel class="ray-nz-carousel" nzAutoPlay>
    <div nz-carousel-content *ngFor="let item of carouselItemList">
      <img width="100%" src="{{item.image}}">
      <a href="{{item.url}}">{{item.title}}</a>
    </div>
  </nz-carousel>

  <div nz-row [nzGutter]="8" class="ray-row">
    <div nz-col [nzSpan]="6" *ngFor="let commodity of commodityList">
      <nz-card nzHoverable [nzCover]="coverTemplate">
        <nz-card-meta [nzTitle]="commodity.title" nzDescription=""></nz-card-meta>
        <p>{{commodity.desc}}</p>
      </nz-card>
      <ng-template #coverTemplate>
        <img alt="{{commodity.title}}" src="{{commodity.image}}" />
      </ng-template>
    </div>
  </div>

  <div nz-row>
    <div nz-col nzSpan="24">
      <nz-list [nzDataSource]="artileList" [nzItemLayout]="'vertical'" [nzRenderItem]="item" [nzPagination]="pagination">
        <ng-template #item let-item>
          <nz-list-item [nzContent]="item.content" [nzActions]="[starAction,likeAction,msgAction]" [nzExtra]="extra">
            <ng-template #starAction>
              <i class="anticon anticon-star-o" style="margin-right: 8px;"></i> {{item.viewCount}}</ng-template>
            <ng-template #likeAction>
              <i class="anticon anticon-like-o" style="margin-right: 8px;"></i> {{item.agreeCount}}</ng-template>
            <ng-template #msgAction>
              <i class="anticon anticon-message" style="margin-right: 8px;"></i> 2</ng-template>
            <nz-list-item-meta [nzAvatar]="item.avatar" [nzTitle]="nzTitle" [nzDescription]="item.description">
              <ng-template #nzTitle>
                <a>{{item.title}}</a>
              </ng-template>
            </nz-list-item-meta>
            <ng-template #extra>
              <img width="272" alt="logo" src="https://gw.alipayobjects.com/zos/rmsportal/mqaQswcyDLcXyDKnZfES.png">
            </ng-template>
          </nz-list-item>
        </ng-template>
        <ng-template #pagination>
          <nz-pagination [nzPageIndex]="1" [nzTotal]="50"></nz-pagination>
        </ng-template>
      </nz-list>
    </div>
  </div>

</div>