<div nz-row class="ray-row">
  <div nzSpan="24">
    <nz-table #table [nzShowPagination]="false" [nzData]="list">
      <thead>
        <tr>
          <th nzWidth="280px" nzLeft="0px">名称</th>
          <th>摘要</th>
          <th nzWidth="90px" nzRight="0px">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of table.data">
          <td>{{item.title}}</td>
          <td>{{item.summary}}</td>
          <td>
            <nz-popconfirm [nzTitle]="'确定添加到首页？'" (nzOnConfirm)="add2Home(item)">
              <a nz-popconfirm><i class="anticon anticon-home"></i></a>
            </nz-popconfirm>
            <a (click)="edit(item)"><i class="anticon anticon-edit"></i></a>
            <nz-popconfirm [nzTitle]="'确定删除？'" (nzOnConfirm)="delete(item)">
              <a nz-popconfirm class="text-danger"><i class="anticon anticon-delete"></i></a>
            </nz-popconfirm>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
